@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

body{
  width: 1366px;
	background-image: url("bg.jpg");
  font-family: 'cwTeXHei', sans-serif;
}
.container{
  height: 2060px;
  overflow: hidden;
}
h3{
  margin: 0;
}

/*homepage*/
#title-text{
  margin-top: 70px;
  font-size: 6em;
  text-align: center;
  font-family: Gadugi;
  font-weight: 100;
  color: #FFFFFF;
}

.o{ 
  position:absolute;
  top:120px;
  left:354px;
  width:70px;
  animation: 2s rotate360 infinite linear; 
}
@keyframes rotate360 {
  to { transform: rotate(360deg); }
}

#chang{
  height: 180px;
  position: fixed;
  top: 250px;
  left: 580px
}
#say01{
  margin: 50px 0 0 780px;
}
#say01 > h3{
  font-size: 2.5em;
  color: #6ACCBB;
  text-decoration: underline;
}
#say01 > p{
  color: #FFFFFF;
}
#blurred{
  position: relative;
  opacity: 0.8;
  width: 1366px;

}
#landing{
  position: relative;
  top: -1150px;
}
#punk{
	width: 200px;
	position: relative;
	top: -160px;
	left: 660px;
}
#metal{
	width: 200px;
	position: relative;
	top: -140px;
	left: 200px;
}

#planet{
  width: 1366px;
  position: relative;
  top: -510px;
}

#say02{
  width: 400px;
  position: relative;
  left: 240px;
  top: 30px;
  opacity: 0;
}
#say02 > h3{
  font-size: 2.5em;
  color: #6ACCBB;
  text-decoration: underline;
}
#say02 > p{
  color: #FFFFFF;
}

#hedgehog{
  width: 250px;
  position: absolute;
  top: 1750px;
  left: 710px;
}
#say03{
  width: 400px;
  position: relative;
  left: 800px;
  top: -100px;
  opacity: 0;
}
#say03 > h3{
  font-size: 2.5em;
  color: #CC9B66;
  text-decoration: underline;
}
#say03 > p{
  color: #FFFFFF;
}
#point01{
  width: 200px;
  position: relative;
  top: -30px;
  left: 80px;
  font-size: 1.7em;
  color: #FFFFFF;
}
#point02{
  width: 200px;
  position: relative;
  top: -80px;
  left: 1080px;
  font-size: 1.7em;
  color: #FFFFFF;
}
